<section class="text-center p-5">

  <h1>Práctica 1 DAW2</h1>
  <h3>Correos de los suarios registrados </h3>

  <% @user.each do |user| %>
      <p> <%= user.email %> <p>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "Formulario", , class: "btn btn-dark"  %>
    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-dark"  %>
  <% end %>

</section>

